    </main>
    <% if(currentUser) {%>
        <div class="user-greeting">
            Welcome back &#9995 </br>
            <%= currentUser.first_name%> <%= currentUser.last_name%>
        </div>
    <% } %>
</body>
</html>