<div class="navbar">
    <div id="logo">
        <a href="/">BlackBoard</a>
    </div>
    <div class="navbar-items">
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </div>
</div>