<div class="navbar">
    <div id="logo">
        <a href="/">BlackBoard</a>
    </div>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar"><span class="material-symbols-outlined" id="drop-down-icon">menu</span></label>
    <% if(currentUser) { %>
        <div class="navbar-items">
            <a href="/message">Add message</a>
            <a href="/admin">Admin</a>
            <a href="/logout">Logout</a>
            <div class="account-info">
                <span class="material-symbols-outlined">account_circle</span>
                <p id="profile-info"><%= currentUser.first_name%> <%= currentUser.last_name%></p>
            </div>
        </div>
    <% } else {%>
    <div class="navbar-items">
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </div>
    <% } %>
</div>